body{
    background-image: url(/img/bg-img.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    img {
    max-width: 100%;
    height: auto;
    }
    .card{
    width:100%;
    max-width: 100%;
    margin: 20% 0px 0px 0%;
    float: none;
    border:2px solid #343a40!important;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #343a40;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
    }